<%- include ("../partials/header") %>
<%- include ("../partials/main_nav") %>
<!--Content for the edit page-->

<div class="containerCenter"> 
    <div class="col-md-offset-3 col-md-6"> 
        <h1 class="listTitle"> <%= title %></h1> <br><br>
        <form class="form" method="post">
            <!-- div for the "name" but user can edit items as well-->
            <div class="form-group">
                <label for="studentTextField"> Student Name </label>
                <input type="text" class="form-control"
                id="studentTextField"
                placeholder="Enter your Name"
                name="student" 
                value = "<%= MovieList.student %>"
                required>
            </div>


            <!-- div for the "form" but user can edit items as well-->
            <div class="form-group">
                <label for="courseTextField"> Course Name </label>
                <input type="text" class="form-control"
                id="courseTextField"
                placeholder="Enter your Course Name or ID"
                name="course" 
                value = "<%= MovieList.course %>"
                required>
            </div>


            <!-- div for the "form" but user can edit items as well-->
            <div class="form-group">
                <label for="instructorTextField"> Instructor's Name </label>
                <input type="text" class="form-control"
                id="instructorTextField"
                placeholder="Enter your Instructor's Name"
                name="instructor" 
                value = "<%= MovieList.instructor %>"
                required>
            </div>

            <!-- div for the "time" but user can edit items as well-->
            <div class="form-group">
                <label for="enrollmentDateTextField"> Enrollment Date  </label>
                <input type="text" class="form-control"
                id="enrollmentDateTextField"
                placeholder="Enter the date you were Enrolled"
                onfocus="(this.type='date')"
                name="enrollmentDate" 
                value = "<%= MovieList.enrollmentDate %>"
                required>
            </div>

            <!-- div for the "text" but user can edit items as well-->
            <div class="form-group">
                <label for="gradeTextField"> Grade </label>
                <select class="form-control"
                id="gradeTextField"
                placeholder="Select you Grade"
                name="grade" 
                value = "<%= MovieList.grade %>"
                required>
                        <option value="<%= MovieList.grade %>"selected hidden><%= MovieList.grade %></option>
                        <option value="A+">A+</option>
                        <option value="A">A</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B">B</option>
                        <option value="B-">B-</option>
                        <option value="C+">C+</option>
                        <option value="C">C</option>
                        <option value="C-">C-</option>
                        <option value="D+">D+</option>
                        <option value="D">D</option>
                        <option value="D-">D-</option>
                        <option value="F">F</option>
                </select>
            </div>
            <br>
            <!-- green submit button-->
            <button class="btn btn-success fa-submitbtn" type="submit" style="background-color:#FFCC00;"> 
                <i class="fas fa-edit"></i>Apply</button>

            <a href="/blockbuster" class="btn fa-delete2">
                <i class="fas fa-undo"></i> Cancel </a>
        </form>
    </div>
</div> 
<%- include ("../partials/bottom_nav") %>
<%- include ("../partials/footer") %>
