<%- include ("../partials/header") %>
<%- include ("../partials/main_nav") %>
<main class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="listTitle"><%= title %></h1>
            <div class="text-right mb-3">
                <!-- Add Course Button -->
                <a href="/courses/add" class="btn btn-primary" style="background-color: #FFCC00; border-color: #FFCC00;">
                    <i class="fas fa-plus"></i> Add Course
                </a>
            </div>
            <table class="table table-bordered table-striped table-hover" style="border: 2px solid #FFCC00">
                <thead>
                    <tr>
                        <th class="text-center col-2" style="background-color:#FFCC00"> Course </th>
                        <th class="text-center col-2" style="background-color:#FFCC00"> Instructor </th>
                        <th class="text-center col-2" style="background-color:#FFCC00"> Enrollment Date </th>
                        <th class="text-center col-2" style="background-color:#FFCC00"> Grade </th>
                        <th class="text-center col-1" style="background-color:#FFCC00"> Edit </th>
                        <th class="text-center col-1" style="background-color:#FFCC00"> Delete </th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let count = 0; count < courses.length; count++) { %>
                        <tr>
                            <!-- Course Name -->
                            <td class="col-2" style="color: black"> <%= courses[count].courseName %> </td>

                            <!-- Instructor Name -->
                            <td class="col-2" style="color: black">
                                <% if (courses[count].instructorId && courses[count].instructorId.personId) { %>
                                    <%= courses[count].instructorId.personId.name %>
                                <% } else { %>
                                    N/A
                                <% } %>
                            </td>

                            <!-- Enrollment Date -->
                            <td class="col-2" style="color: black">
                                <% if (courses[count].enrollmentId && courses[count].enrollmentId.EnrollmentDate) { %>
                                    <%= new Date(courses[count].enrollmentId.EnrollmentDate).toDateString() %>
                                <% } else { %>
                                    N/A
                                <% } %>
                            </td>

                            <!-- Grade -->
                            <td class="col-2" style="color: black">
                                <% if (courses[count].enrollmentId && courses[count].enrollmentId.Grade) { %>
                                    <%= courses[count].enrollmentId.Grade %>
                                <% } else { %>
                                    N/A
                                <% } %>
                            </td>

                            <!-- Edit Button -->
                            <td class="text-center col-1">
                                <a href="/courses/edit/<%= courses[count]._id %>" class="btn btn-secondary fa-edit2" style="background-color:#FFCC00">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                            </td>

                            <!-- Delete Button -->
                            <td class="text-center col-1">
                                <a href="#" 
                                   class="btn fa-delete2 btn btn-secondary fa-edit2 delete-course" 
                                   style="background-color:#FF0000" 
                                   data-id="<%= courses[count]._id %>">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</main>
<%- include ("../partials/footer") %>